.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline-color: #17a904;
}
.place-order-left .multi-field{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order-submit{
    margin-top: 50px;
    border: none;
    background-color: #17a904;
    color: white;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width:700px) {
    .place-order{
        flex-direction: column;
    }
}