.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #A9A9A9;
    border-top: 0;
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #A9A9A9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px; 
    cursor: pointer;
}
.sidebar{
    font-size: max(1vw,10px );
}
.sidebar-option img{
    width: 20px;
}
.sidebar-option.active {
 background-color: #d5f5db;
 border-color: #17a904 ;
}
@media (max-width:900px) {
    .sidebar-option p{
       display: none;
    }
}